# Configuración de la API
VITE_API_URL=http://localhost:3001/api
VITE_IMAGES_URL=http://localhost:3001/uploads

# Otras variables de entorno que puedan ser necesarias
# VITE_GOOGLE_MAPS_API_KEY=tu_api_key_aqui
# VITE_STRIPE_PUBLIC_KEY=tu_llave_publica
